.card {
    background-size: cover;
    background-position: center;
    background-clip: content-box;
    border: 2px solid black;
    height: 310px;
    width: 390px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    position: relative;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
  }