.bg-light {
  background: rgb(117, 13, 13) !important;
  color: antiquewhite;
}

nav.navbar.navbar-default {
    margin-bottom: 0;
  }
  
a {
    display: block;
    background: #303030;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    color: antiquewhite;
    font-size: 20px;
}
  
  li {
    margin-left: 10px;
    font-size: 28px;
  }